
<%- include('partials/headtag') %>

<body>
  <%- include('partials/navbar', { currentPage : "Home"}) %>

  <div class="container main_content">

    <div class="prankd" style="text-align: center">
      <img src="public/assets/tfc.jpg" alt="">
    </div>

  </div>



  <%- include('partials/bootstrapjsincludes.ejs') %>

</body>
</html>
