{% extends "base.html" %}

{% block content%}

<h1 align="center">Browse Workouts</h1>
<p>Pull up a flex and get ready to party</p>
<hr/>

<p>A big form for filtering goes here</p>
<p>The form contains a link to save this search as a fave</p>
<hr/>

<p>A list of search-matching workouts will go here</p>
{% for workout in workout_data %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="mr-2">maybe tags go here</small>
        <small class="text-muted">look this color exists</small>
      </div>
      <h2><a class="article-title" href="#">{{ workout.name }}</a></h2>
      {% for exercise_group in workout.exercise_groups %}
      <hr/>
        <h4>{{ exercise_group.name }}</h4>
          {% for exercise in exercise_group.exercises %}
          <p class="article-content">{{ exercise.name + " - " ~ exercise.reps + " reps" }}</p>
          {% endfor %}
      {% endfor %}
    </div>
  </article>
{% endfor %}

{% endblock content %}
