{% extends "base.html" %}

{% block content%}

<h1 align="center">Browse Training Tracks</h1>
<p>Pull up a flex and get ready to party</p>
<hr/>

<p>A big form for filtering goes here</p>
<p>The form contains a link to save this search as a fave</p>
<hr/>

<p>A list of search-matching training tracks will go here</p>

{% for training_track in training_track_data %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="mr-2">maybe tags go here</small>
        <small class="text-muted">look this color exists</small>
      </div>
      <h2><a class="article-title" href="#">{{ training_track.name }}</a></h2>
      <p class="article-content">{{ training_track.days() }} days long</p>
      <p class="article-content">{{ training_track.description }}</p>
    </div>
  </article>
{% endfor %}

{% endblock content %}
