{% extends "base.html" %}

{% block content%}

<h1 align="center">Browse Exercises</h1>
<p>Pull up a flex and get ready to party</p>
<hr/>

<p>A big form for filtering goes here</p>
<p>The form contains a link to save this search as a fave</p>
<hr/>

<p>A (collapsed) list of all exercises that match the filter goes here</p>
<p>Maybe the exercises will look like this!</p>
{% for exercise in exercise_data %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="mr-2">{{ exercise.rep_string() }}</small>
        <small class="text-muted">look this color exists</small>
      </div>
      <h4><a class="article-title" href="#">{{ exercise.name + exercise.rep_string() }}</a></h4>
      <p class="article-content">{{ exercise.description }}</p>
      <p class="article-content">{{ exercise.notes }}</p>
    </div>
  </article>
{% endfor %}

{% endblock content %}
