
{% extends "base.html" %}
{% block title %}Log In{% endblock %}

{% block content%}

<form method="POST" id="loginform">
    <h3 align="center">Log in</h3>
    <div class="form-group">
        <label for="email_input">Email Address</label>
        <input type="email" class="form-control" id="email_input" name="email" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password_input">Password</label>
        <input type="password" class="form-control" id="password_input" name="password" placeholder="Enter password">
    </div>

    <br />
    <button type="submit" id="submit_button" class="btn btn-primary">Log In</button>
</form>
{% endblock %}
